@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-clr: #b99e62;
    --white-clr: #f1f1f1;
    --black-clr: #1f2020;
    --black-dark-clr: #141414;
    --error-clr: #df5757;
}

html {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

body {
    padding: 20px 20px;
    background-color: var(--black-dark-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

ul {
    list-style: none;
}

.hidden {
    display: none;
}

.form-container {
    background-color: var(--black-clr);
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

form {
    padding: 30px 50px;

    display: flex;
    flex-direction: column;
}

form h3 {
    color: var(--white-clr);
}

form input {
    height: 40px;

    color: var(--black-clr);
    font-size: inherit;

    border: 1px solid rgba(31, 32, 32, 0.15);
    padding: 0 5px;
}

form input:focus {
    outline: 2px solid var(--main-clr);
}

form input::selection {
    background: var(--main-clr);
    color: var(--white-clr);
}
form input::-moz-selection {
    background: var(--main-clr);
    color: var(--white-clr);
}

.error-box {
    background: var(--error-clr);
    color: var(--white-clr);
    padding: 0 30px;
    font-size: inherit;
    text-align: center;

    margin-bottom: 20px;
}

.form-btn {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border: none;

    background-color: var(--main-clr);
    color: var(--white-clr) ;

    outline: 1px solid var(--main-clr);
    outline-offset: -1px;

    transition: outline-offset 100ms ease-in-out;
}

.form-btn:hover {
    outline-offset: 3px;
    cursor: pointer;
}

.users-list {
    padding: 10px;
    width: 100%;
    height: 600px;
    overflow-x: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output-img {
    max-width: 100%;

    padding-bottom: 18px;
    border-bottom: 2px dashed #b99d624b ;
    margin-bottom: 10px;
}